<form action="/search" method="post" accept-charset="utf-8">
	<label for="search">Search for formulas</label><input type="text" name="search" value="" id="search">
	<p><input type="submit" value="Search &rarr;"></p>
</form>