<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
	  <title>Homebrew - Hands off package management for OS X</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />  	
  </head>
  <body id="layout" onload="">

    <div id="wrapper">
		  <div id="header">
		  	<a href="/"><img src="/images/logo.png" /></a>
		  </div>

		  <div id="content">
			  <%= yield %>	  	
		  </div>    	
    </div>
	
  </body>	
</html>
