body { margin:0; padding:0; background:url(/images/wood_bg2.jpg) top left; font-family: "Helvetica Neue", arial; font-weight: 300;}

#wrapper { margin:5em; padding:1em; min-width:500px; }
#content { padding:2em; background:#efefef; }
#header  { background-color: rgba(0,0,0,0.35); border:1px solid #efefef; }

#all_formulas { list-style:none; margin:0; padding:0; }
.formula { padding:1em; margin:1px; border:1px solid #000000;}

fieldset { padding:1em; }